{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block body %}
<div class="container-lg p-3">
    <div class="display-3 text-center my-3">About</div>
    <p class="lead">Hello, My name is <strong>Sourov</strong>. This is a beginner project developed by me. You can
        write your everyday <strong>NOTES</strong> and keep track of youreself with the <strong>TODOs</strong> section.
    </p>

    <div class="fs-6 fw-bold">Cs50 Final Project:</div>
    <p class="lead">I made this project as the <strong>Final project of Harvard University's intro to computer science
            course
            CS50</strong>. I learned a lot of stuff from this course, I am very greatfull that I found
        course online and free.
    </p>
</div>
{% endblock %}