{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container-lg">
    <div class="p-5 d-flex align-items-center justify-content-center flex-column">
        <div class="display-6 mb-4 text-center">Register</div>
        <form action="/register" method="post" autocomplete="off"
            class="d-flex align-items-center justify-content-center flex-column">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="username" id="floatingInput" placeholder="username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="password" id="floatingPassword"
                    placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="confirmation" id="floatingPassword"
                    placeholder="Password">
                <label for="floatingPassword">Password Again</label>
            </div>
            <button type="submit" class="btn btn-primary fs-5 mb-2 px-4">Register</button>
            <p>Already have an account? <a href="/login">Login</a></p>
        </form>
    </div>
</div>
{% endblock %}